body{
  font-family: verdana;
  font-size: 16px;
}
header{
  background-color:#dddddd;
}
header img {
  width: 10%;
  height: auto;
}
nav{
  background-color:#eeeeee;
  display:inline-block;
  width:80%;
}
main{
  background-color:#cccccc;
  font-size: 20px;
}
footer{
  background-color:#dddddd;
}
/* 
li{
  display:inline-block;
  width:25%;
}
*/
h1{
  text-align: right;
  font-family: arial;
  color: #ff0000;
}
p{
  line-height:2;
}
.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-around;
}